<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramesh consulting</title>
    <style>
        .mybuttons {
            /* background-color: rgb(43, 211, 226); */
            font-weight: bold;
            color: black;
            border-radius: 5px;
            margin-top: 40px;
            font-size: 20px;
        }
        .head {
            margin-top: 25px;
            font-size: 30px;
            color: rgba(238, 52, 52, 0.867);
            font-weight: bold;
        }
    </style>
</head>
<body style="background-color:rgb(243, 233, 175);text-align:center;">
    <div class="head"> ரமேஷ் கன்சல்டன்சி </div>
    <div>
        <form action="" method="post">
            <label for="fname" class="mybuttons">பதிவு எண் :</label>
            <input type="text" class="mybuttons">
            <input type="submit" value='சமர்ப்பிக்க' class="mybuttons" style="background-color: rgb(231, 56, 97);">
        </form>
    </div>
</body>
</html>